# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Everstorm.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mindl\Documents\GitHub\Everstorm\Everstorm\.idea\.idea.Everstorm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
